<h6>Yeniliklerden xeberdar ol</h6>
<p>Get E-mail updates about our latest shop and special offers.</p>
<form asp-controller="home" asp-action="subscribe">
    <input type="text" placeholder="Enter your mail" name="Email">
    <button type="submit" class="site-btn">Subscribe</button>
</form>
